<div class="col-md-6 offset-md-3 mt-5">
    <div class="card">
        <h2 class="card-header">Zarejestruj</h2>
        <div class="card-body">
        <form >
            <div class="form-group required">
                <label for="login">Login</label>
                <input type="text" class="form-control" formControlName="UserName"/>
                <label for="text-danger" *ngIf="service.formModel.get('UserName').touched && service.formModel.get('UserName').errors?.required">Wymagany login</label>
            </div>
            <div class="form-group">
                <label for="Email">Email</label>
                <input type="text"  class="form-control" formControlName="Email"/>
                <label for="text-danger" *ngIf="service.formModel.get('Email').touched && service.formModel.get('Email').errors?.email">Niepoprawny format</label>
            </div>
            <div class="form-group">
                <label for="FullName">Nazwa Uzytkownika</label>
                <input type="text" class="form-control" formControlName="FullName" />
            </div>
            <div formGroupName="Passwords required">   
                <div class="form-group">
                    <label for="password">Hasło</label>
                    <input type="password" class="form-control" formControlName="Password" />
                    <label for="text-danger" *ngIf="service.formModel.get('Passwords.Password').touched && service.formModel.get('Passwords.Password').errors?.required">Wymagane hasło</label>
                </div>
                <div class="form-group">
                    <label for="confirmPassword">Powtórz hasło</label>
                    <input type="password" class="form-control" formControlName="ConfirmPassword" />
                    <label for="text-danger" *ngIf="service.formModel.get('Passwords.ConfirmPassword').touched && service.formModel.get('Passwords.ConfirmPassword').errors?.required">Wymagane powtórzenie hasła</label>
                </div>
            </div>

            <div class="form-group">
                <button class="btn btn-primary">
                    Ok
                </button>
                <a routerLink="/login" class="btn btn-link">Anuluj</a>
            </div>
        </form>
    </div>
    </div>
    </div>