<div class="col-md-6 offset-md-3 mt-5">
    <div class="card">
        <div class="card-body">
            <form>
                <div class="form-group">
                    <label >Tytuł Obrazu</label>
                    <input type="text" formControlName="TitleInput" class="form-control"/>
                </div>
                <div class="form-group">
                    <label for="DescribeTextArea">Opis</label>
                    <textarea class="form-control" id="DescribeTextArea" rows="3"></textarea>
                </div>
                <div class="row"> 
                    <input style="width: 100%; height: 50px;" type="file" capture="camera" accept="image/*" id="cameraInput" name="cameraInput">
                </div>
                  <!-- <label class="image-upload-container btn btn-bwm">
                    <span>Select Image</span>
                    <input #imageInput
                           type="file"
                           accept="image/*"
                           (change)="processFile(imageInput)">
                  </label> -->
                <div class="form-group">
                    <label for="inputState">Rodzaj przetwarzania</label>
                    <select id="inputState" class="form-control">
                        <option selected>Progowanie</option>
                        <option>Rozrost obszaru</option>
                    </select>
                    <button routerLink="../home" class="btn btn-primary"> Wgraj </button>
                </div>
            </form>
        </div>
    </div>
</div>
