<div class="col-md-6 offset-md-3 mt-5">
    <div class="card">
        <div class="card-body">
            <form>
                <div class="form-group">
                    <label>Tytuł Obrazu</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="Wpisz tytuł" [(ngModel)]="Name"/>
                </div>
                <div class="form-group">
                    <label for="DescribeTextArea">Opis</label>
                    <textarea class="form-control" id="DescribeTextArea" rows="3" name="description" placeholder="Wpisz opis" [(ngModel)]="Description"></textarea>
                </div>
                <div class="form-group">
                    <h3>Wybierz obraz</h3>
                    <div class="form-group">

                        <input #file type="file" (change)="fileChangeEvent($event,file.files);" />
                        <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="false"
                            [aspectRatio]="4 / 3" format="png" (imageCropped)="imageCropped($event)"
                            (imageLoaded)="imageLoaded()" (cropperReady)="cropperReady()"
                            (loadImageFailed)="loadImageFailed()"></image-cropper>
                    </div>
                </div>
                <div *ngIf="isDone" class="form-group">
                    <label for="inputState">Rodzaj przetwarzania</label>
                    <!-- <select id="inputState" class="form-control">
                        <option selected>Brak</option>
                        <option>Progowanie</option>
                        <option>Ucięcie poziomów szarości</option>
                    </select> -->
                    <select [(ngModel)]="selectedOption" name="inputStateName" id="inputState" class="form-control">
                    <option click="sprawdz()" [ngValue]="type" *ngFor="let type of typeOfProcessing">{{type.name}}</option>
                    </select>
                </div>
                <button type="button" class="btn btn-primary" (click)="onCreate()"> Akceptuj </button>
            </form>
        </div>
    </div>
</div>