<div class="col-md-6 offset-md-3 mt-5">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <span style="font-size: 50px;" class="material-icons">account_circle</span>
                <h2>Profil użytkownika</h2>
            </div>
            <form>
                <div class="form-row">
                  <label class="col-sm-2 col-form-label">Imię:</label>
                  <div class="col">
                    <input type="text" readonly class="form-control-plaintext" value="Maciej">
                  </div>
                  <label class="col-sm-2 col-form-label">Nazwisko:</label>
                    <div class="col">
                      <input type="text" readonly class="form-control-plaintext" value="Gołowkin">
                    </div>
                </div>
                <div class="form-row">
                    <label class="col-sm-2 col-form-label">Login:</label>
                    <div class="col">
                      <input type="text" readonly class="form-control-plaintext" value="MaciejGolowkin">
                    </div>
                    <label class="col-sm-2 col-form-label">Stanowisko:</label>
                      <div class="col">
                        <input type="text" readonly class="form-control-plaintext" value="Laborant">
                      </div>
                  </div>
              </form>
        </div>
    </div>

    <div class="card">
      <div class="card-body">
          <div class="row">
              <h2>Szczegóły próbek(mm)</h2>
          </div>
          <form>
            <div class="form-row">
              <label class="col-sm-2 col-form-label">Szerokość:</label>
              <div class="col">
                <input type="text" class="form-control-plaintext" value="762">
              </div>
              <label class="col-sm-2 col-form-label">Wysokość:</label>
              <div class="col">
                <input type="text" class="form-control-plaintext" value="254">
              </div>
            </div>
          </form>
      </div>
  </div>
</div>
