<div class="container">
    <form>
      <div class="form-group">
            <div class="row">
              <mat-form-field class="example-full-width">
                  <mat-label>Nazwa obrazu</mat-label>
                  <input matInput>
              </mat-form-field>

              <mat-form-field>
                <mat-label>Data Od:</mat-label>
                <input matInput [matDatepicker]="DataPoczatkowa" disabled>
                <mat-datepicker-toggle matSuffix [for]="DataPoczatkowa"></mat-datepicker-toggle>
                <mat-datepicker #DataPoczatkowa disabled="false"></mat-datepicker>
              </mat-form-field>
        
              <mat-form-field>
                <mat-label>Data Od:</mat-label>
                <input matInput [matDatepicker]="dp4" disabled>
                <mat-datepicker-toggle matSuffix [for]="dp4"></mat-datepicker-toggle>
                <mat-datepicker #dp4 disabled="false"></mat-datepicker>
              </mat-form-field>

              <button class="btn btn-primary btn-lg" style="display:block; margin-left:auto; margin-right: 0;">Filtruj</button>
              </div>
    </div>
    </form>
</div>
